n8n/Repairs - List (10).json
{
  "name": "Repairs - List",
  "nodes": [
    {
      "parameters": {
        "path": "repairs-list",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        0
      ],
      "id": "744166d3-ba56-49ab-ae33-593d96c8b5fb",
      "name": "Webhook",
      "webhookId": "897088e5-36a3-45f7-9174-e1e50c9443a1"
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/task/{{$json.parentTaskId}}?include_subtasks=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        0
      ],
      "id": "d6278909-43a9-43bb-ae83-64a2657dce82",
      "name": "HTTP Request",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "34jDYBMeiCkrARE9",
          "name": "Lukas - ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1440,
        16
      ],
      "id": "48963d77-9443-4531-9aa0-1664e86ef79e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const parent = $json;\n\n// Try multiple possible shapes\nconst subtasks =\n  (Array.isArray(parent.subtasks) && parent.subtasks) ||\n  (Array.isArray(parent.subtasks?.data) && parent.subtasks.data) ||\n  (Array.isArray(parent.tasks) && parent.tasks) ||\n  (Array.isArray(parent.tasks?.data) && parent.tasks.data) ||\n  [];\n\nif (subtasks.length === 0) {\n  return [{\n    json: {\n      parentId: parent.id,\n      parentName: parent.name,\n      message: \"No damages were reported, good job.\",\n      subtasks: []\n    }\n  }];\n}\n\nreturn subtasks.map(st => ({\n  json: {\n    parent: { id: parent.id, name: parent.name },\n    subtaskId: st.id,\n    subtaskName: st.name,\n    subtaskStatus: st.status?.status ?? st.status ?? null,\n    subtaskUrl: st.url ?? (st.id ? `https://app.clickup.com/t/${st.id}` : null),\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "b7bbcc6b-ae6b-49fc-bebf-eabb824285bb",
      "name": "Split subtasks"
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/task/{{$json.subtaskId}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        -64
      ],
      "id": "c44f6823-8b81-4d20-a751-5d3ca6d8627a",
      "name": "Get subtask details",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "34jDYBMeiCkrARE9",
          "name": "Lukas - ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const OWNER_COMMENT_FIELD_ID = \"8d333333-de44-4f45-b4d1-079540d99313\";\n\nfunction getOwnerComment(customFields) {\n  if (!Array.isArray(customFields)) return \"\";\n  const field = customFields.find(f => f.id === OWNER_COMMENT_FIELD_ID);\n  if (!field || field.value == null) return \"\";\n  return typeof field.value === \"string\"\n    ? field.value\n    : JSON.stringify(field.value);\n}\n\nconst all = $input.all().map(i => i.json);\n\n// If Split subtasks produced the \"no damages\" message (no subtaskId items)\nconst msgItem = all.find(x => typeof x.message === \"string\" && x.message.length);\nif (msgItem) {\n  return [{\n    json: {\n      parent: { id: msgItem.parentId, name: msgItem.parentName },\n      subtasks: [],\n      message: msgItem.message\n    }\n  }];\n}\n\n// Normal path: we received subtask detail objects\nconst parent = all[0]?.parent || null;\n\nconst subtasks = all.map(t => ({\n  id: t.id,\n  name: t.name,\n  status: t.status?.status || null,\n  url: t.url || null,\n\n  // creation time (raw + ISO)\n  dateCreatedRaw: t.date_created ?? null,\n  dateCreatedIso: t.date_created ? new Date(Number(t.date_created)).toISOString() : null,\n\n  description: (t.description || \"\").trim(),\n  ownerComment: getOwnerComment(t.custom_fields),\n  images: (t.attachments || [])\n    .filter(a => (a.mimetype || \"\").startsWith(\"image/\"))\n    .map(a => a.url)\n}));\n\nreturn [{ json: { parent, subtasks } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        16
      ],
      "id": "0c442e1f-7ddf-4a0e-8fe3-28afb1fb35ca",
      "name": "Build final JSON"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Ot0VApHdAKXgUQTr",
          "mode": "list",
          "cachedResultName": "repair_tokens",
          "cachedResultUrl": "/projects/5yW1jW7R5grGIkAM/datatables/Ot0VApHdAKXgUQTr"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "token",
              "keyValue": "={{$json.token}}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        304,
        0
      ],
      "id": "b90e300c-3f88-452f-8034-c819d4dfe42e",
      "name": "Get row(s)",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const token = String($json.query?.token ?? \"\").trim();\nreturn [{ json: { token } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        0
      ],
      "id": "6f33b3a0-b1fb-4274-be0e-3cc69a2a8a62",
      "name": "Noramlize (no whitespaces)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4f00aeca-a14b-4f7f-b66d-128ecd1a250d",
              "leftValue": "={{$json.subtaskId}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        0
      ],
      "id": "8d6594bd-4eff-4b32-82a9-a194bae2df28",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Noramlize (no whitespaces)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split subtasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split subtasks": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get subtask details": {
      "main": [
        [
          {
            "node": "Build final JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build final JSON": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noramlize (no whitespaces)": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get subtask details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build final JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "072ad538-b238-4daa-9f51-16e9df0e0754",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "590fc68a97e38023c3d2a62d0bb8bf0b685833354062f07ffccd7262074efb25"
  },
  "id": "FHCTg8vP7oy690B4FHveP",
  "tags": []
}